@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
   font-family: "Outfit", sans-serif;
}

@layer base {
  html, body {
    background-color: white !important;
    color: black !important;
    min-height: 100vh;
  }
}

/* Hide scrollbar but allow scrolling  */
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */
::-webkit-scrollbar{
  @apply hidden
}

